body{
	font-size: 25px;
	letter-spacing: 1px;
	word-spacing: 1px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: capitalize;
	background: #2863CE;
	background: -moz-radial-gradient(center, #2863CE, #B9B9B9);
	background: -webkit-radial-gradient(center, #2863CE, #B9B9B9);
	background: radial-gradient(ellipse at center, #2863CE, #B9B9B9);
	border: 4px inset #607de6;
}

h1{
	color: #000000;
	text-shadow:0 0 2px blue;
	font-family: "Comic Sans MS", Comic Sans, cursive;
	font-weight: 700;
}

h2{
	color: #000000;
	text-shadow:0 0 2px blue;
	font-family: "Comic Sans MS", Comic Sans, cursive;
	font-weight: 700;
}

h3{
	color: #000000;
	text-shadow:0 0 2px blue;
	font-family: "Comic Sans MS", Comic Sans, cursive;
	font-weight: 700;
}

p{
	color: #000000;
	text-shadow:0 0 0px blue;
	font-family: "Bradley Hand", cursive;
	font-weight: 400;
}

a:visited{
	color: aqua;
}
